.App {
    position: relative;
    min-height: 100vh;
}

#main-container {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 15px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 95%;
    margin: auto;
}

h1 {
    text-align: center;
    font-family: 'Chalkboard SE';
    font-size: 60px;
    margin: 5px;
    color: white;
    text-shadow: 2px 2px 5px black;
}

#subtitle {
    text-align: center;
    margin: 0;
    color: #2BCF18;
    font-size: 20px;
    text-shadow: 1px 1px 3px black;
}

header > p {
    font-size: 20px;
    color: #fff;
    text-shadow: 1px 1px 1px black;
}

#lesson-header {
    text-align: center;
}

h2 {
    margin: 0;
    padding: 0;
    padding-top: 20px;
}

#lesson-header > p {
    margin: 5px;
}

#instructions {
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding: 0;
    margin: 0;
}

#instructions > h4 {
    margin: 0;
    padding: 0;
}

#instructions > p {
    margin: 0;
    padding: 0;
}

#progress-bar {
    width: 800px;
    margin: auto;
    margin-top: 20px;
}

footer {
    text-align: center;
    background-color: #2BCF18;
    position: absolute;
    bottom: 0;
    width: 100%;
}

footer p{
    margin: 0;
    font-size: 12px;
}



