
.lesson-content {
    position: relative;
}

#instructions > h4 {
    margin-right: 10px;
}

.audio-instructions {
    display: flex;
    align-items: center;
    justify-content: center;
}

.audio-icon {
    height: 50px;
    margin: 5px;
}

/* #paints-and-board {
    display: flex;
    flex-direction: row;
    flex-flow: wrap row;
    align-items: center;
} */

.dnd-colours {
    /* width: 40%; */
    max-height: 550px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-flow: wrap row;
    justify-content: center;
    align-items: center;
}

.paint-cans {
    /* flex-basis: 25%; */
    flex-basis: 15%;
    padding: 10px 0;  
    max-width: 100px;  
    margin: 10px;
}

.dnd-board {
    /* width: 45%; */
    max-height: 550px;
    /* border: 2px solid black; */
    border-radius: 40px;
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-flow: wrap row;
}

.dropzone {
    height: 100%;
    width: 100%;
    /* max-width: 150px; */
    /* flex-basis: 25%; */
    flex-basis: 10%;
    justify-content: space-evenly;
    text-align: center;
    /* border: 1px dashed purple; */
    /* border-radius: 30px;; */
}

#zone-to-fill {
    border: 1px dashed black;
    border-radius: 30px;
    width: 100px;
    height: 100%;
}

.dropzone > p {
    padding: 50px 0;
    font-size: 20px;
}

#dragged-colours {
    position: relative;
    max-height: 120px;
    max-width: 120px;
}

#colour-text-overlay {
    position: absolute;
    left: 10%;
    right: 10%;
    bottom: 20%;
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    /* background-color: rgb(219, 206, 242); */
    background-color: rgb(211, 211, 211);
    /* padding: 10px; */
    border-radius: 50%;
    box-shadow: 0 0 15px 15px lightgray;
}

.black {
    color: black;
}
.blue {
    color: blue;
}
.brown {
    color: brown;
}
.green {
    color: green;
}
.orange {
    color: orange;
}
.purple {
    color: purple;
}
.red {
    color: red;
}
.white {
    color: white;
    text-shadow: 1px 1px black;
}
.yellow {
    color: yellow;
    text-shadow: 1px 1px black;
}

/* #reset-drag-n-drop {
    display: flex;
    margin: auto;
} */

#take-the-quiz {
    text-align: center;
    margin: 20px 0;
    padding-bottom: 20px;
}