#home-screen > h2 {
    text-align: center;
    color: #fff;
}

#home-screen-header-p {
    text-align: center;
    color: #fff;
    padding-bottom: 20px;
}   


#form-box {
    width: 30%;
    margin: auto;
    border: 1px solid black;
    border-radius: 20px;
    padding: 30px;
    text-align: center;
    background-color: white;
}

#form-box > form {
    padding: 20px;
}

#form-box > hr {
    border-top: 1px solid #2BCF18;
}

#form-box > form > label {

}

#form-box > form > input {
    padding: 5px;
    margin: 10px;
}

input[type=submit] {
    background: greenyellow;
    border: 2px solid purple;
    padding: 6px 12px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

input[type=submit]:hover {
    background: #F8F155;
}