
/* animation */

@keyframes grow {
    0% {font-size: 1.17em;}
    50% {font-size: 2em;}
    100% {font-size: 1.17em;}
}

#top-tip {
    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
}

.number-item {

    
}

.zero {
    animation-name: grow;
    animation-duration: 3s;
}

.one {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 3s;
}

.two {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 6s;
}

.three {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 9s;
}

.four {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 12s;
}

.five {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 15s;
}

.six {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 18s;
}

.seven {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 21s;
}

.eight {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 24s;
}

.nine {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 27s;
}

.ten {
    animation-name: grow;
    animation-duration: 3s;
    animation-delay: 30s;
}


/* remove list styling */

ul {
    padding:0;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
}

li {
    list-style: none;
    /* border: solid; */
    width: 100px;
    height: 100px;
    margin-bottom: 40px;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    text-align: center;
    flex-basis: 13%;
}


.number-images {
    height: 50px;
}

.lesson-one-container {
    padding-bottom: 20px;
}

