.Game {
    max-width : 1000px;
    margin: 40px auto;
}

button {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    padding: 3px;
    border-radius:6px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    font-size:  1em;
    font-weight: bold;
}

button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background:
    linear-gradient(115deg,
    #4fcf70, #fad648,
    #a767e5, #12bcfe,
    #44ce7b);
    background-size: 50% 100%;
    border-radius: inherit;
}

button:hover::before {
    animation: animate_border
    .85s linear infinite;
}

button p {
    display: block;
    /* background: black; */
    padding: 13px 20px;
    border-radius: 3px;
    position: relative;
    z-index: 2;
}

@keyframes animate_border {
    to {
        transform: translateX(-50%);
    }
}
/* button {
    background: greenyellow;
    border: 2px solid purple;
    padding: 6px 12px;
    border-radius: 4px;
    color: black;
    font-weight: bold;
    cursor: pointer;
    font-size: 1em;
}

button:hover {
    background: #c23866;
    color: #fff;
} */

.card {
    position: relative;
}

.card img {
    width: 100%;
    display: block;
    border: 2px solid greenyellow;
    border-radius: 6px;
}

.card-grid {
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 40px;
}

.card .front {
    transform: rotateY(90deg);
/* absolute position will sit on top of the card and hide it */
    position: absolute;
    transition: all ease-in 0.2s;
}


.flipped .front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
}

/* back of the card */
.card .back {
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
}

.flipped .back {
    transform: rotateY(90deg);
    transition-delay: 0s;
}